extends layout

block content
  h1= title
  p Welcome! Dan's still messing around.
  div(id='fileuploader') Upload
  div(id='saves')
    div(class='saveblock') Foo foo foo bar foo
    div(class='saveblock') foo2
